

  .nav-link {
    transition: color 0.3s ease, border-bottom 0.3s ease;
  }

  .nav-link-active {
    color: #ffffff;
    border-bottom: 4px solid #ffffff;
  }


  /* Common styles for dropdown menu items */
  .dropdown-item {
    display: block;
    padding: 0.5rem 1rem;
    color: #000;
    text-decoration: none;
  }

  .dropdown-item:hover {
    background-color: #01b0cd;
    color: #fff;
  }

  /* Responsive dropdown styles */

  /* In your Tailwind CSS configuration or style file */
  .shadow-green {
    filter: drop-shadow(0 0 4px rgba(0, 255, 128, 0.8)); /* Adjust the color and blur radius as needed */
  }